In [1]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() #using seaborn styles
#standard libraries for variation type of data
import pandas as pd
import numpy as np
from IPython.display import HTML

In [2]:
def f_card_names():
#'''Create pandas.DataFrame object with deck'''
    # names for deck cards
    color = ['red', 'black']
    suit_red = ['diamonds', 'hearts']
    suit_black = ['spades', 'clubs' ]
    suit = [suit_red, suit_black]
    joker = 'Joker'
    pack = ['Ace', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King']
    deck = []
    i = 0
    j = 53
    for clr in color:
       deck.append([j, clr, None, joker])
       j += 1
       for st in suit:
           if st is suit_red:
               for st_r in suit_red:
                   for card in pack:
                       i += 1
                       deck.append([i, clr, st_r, card])
    df = pd.DataFrame(deck, columns=['index', 'color', 'suit', 'card'])
    df.set_index('index', inplace=True)
    df.sort_index(inplace=True)
    return df

In [3]:
cards_names = f_card_names()

In [15]:
cards_names

       color      suit   card
index
1        red  diamonds    Ace
2        red  diamonds      2
3        red  diamonds      3
4        red  diamonds      4
5        red  diamonds      5
6        red  diamonds      6
7        red  diamonds      7
8        red  diamonds      8
9        red  diamonds      9
10       red  diamonds     10
11       red  diamonds   Jack
12       red  diamonds  Queen
13       red  diamonds   King
14       red    hearts    Ace
15       red    hearts      2
16       red    hearts      3
17       red    hearts      4
18       red    hearts      5
19       red    hearts      6
20       red    hearts      7
21       red    hearts      8
22       red    hearts      9
23       red    hearts     10
24       red    hearts   Jack
25       red    hearts  Queen
26       red    hearts   King
27     black  diamonds    Ace
28     black  diamonds      2
29     black  diamonds      3
30     black  diamonds      4
31     black  diamonds      5
32     black  diamonds      6
33     black  diamonds      7
34     black  diamonds      8
35     black  diamonds      9
36     black  diamonds     10
37     black  diamonds   Jack
38     black  diamonds  Queen
39     black  diamonds   King
40     black    hearts    Ace
41     black    hearts      2
42     black    hearts      3
43     black    hearts      4
44     black    hearts      5
45     black    hearts      6
46     black    hearts      7
47     black    hearts      8
48     black    hearts      9
49     black    hearts     10
50     black    hearts   Jack
51     black    hearts  Queen
52     black    hearts   King
53       red      None  Joker
54     black      None  Joker

In [4]:
deck = np.arange(1, 54)
hang_cards = np.zeros(54)
np.random.shuffle(deck)
deck

array([16, 44, 20, 35, 32,  8,  9, 51, 17,  6, 15, 21, 53, 47, 52, 18, 27,
       13, 45, 26, 40,  2, 10, 50, 23, 25, 30, 42, 38, 41, 37, 24,  3, 14,
       48, 34, 39, 36, 49, 28, 29, 11,  1, 43,  7, 31, 22, 46, 33, 12,  5,
        4, 19])

In [18]:
card = cards_names.loc[1]
card

color         red
suit     diamonds
card          Ace
Name: 1, dtype: object

In [61]:
def f_hand_over_cards(deck):
    if deck.size >= 4:
        player = deck[:2]
        croupier = deck[2:4]
        deck = deck[4:]
        return deck, player, croupier
    else:
        print('Not enough cards in deck!')
        return deck, None, None

In [52]:
def f_card_value(card):
    """Allow get possible value from card
       input: Pandas.Series form DataFrame created by f_card_names
       return: tuple (value1, value2, win)
           value1 if card is number or picture
           value2 used if card is Ace
           win 1 if card was Joker
       except: if card not found return tuple(-1., -1., -1.)
    """
    
    values = {'Jack':10., 'Queen':10., 'King':10., '10':10., '9':9.,
              '8':8., '7':7., '6':6., '5':5., '4':4., '3':3., '2':2.}    
    if card is 'Ace':
        return(1., 11., 0.)
    elif card is 'Joker':
        return (0., 0., 1.)
    else:
        try:
            return (values[card], 0., 0.)
        except:
            return(-1., -1., -1.)

In [54]:
f_card_value('2')

(2.0, 0.0, 0.0)

In [60]:
def f_calculate_cards(hand):
    summ = 0
    for card in hand:
         summ = summ + f_card_value(card['card'])[0]
    return summ

In [63]:
deck, player, croupier = f_hand_over_cards(deck)
print(deck)
print()
print(player)
print()
print(croupier)

[17  6 15 21 53 47 52 18 27 13 45 26 40  2 10 50 23 25 30 42 38 41 37 24
  3 14 48 34 39 36 49 28 29 11  1 43  7 31 22 46 33 12  5  4 19]

[32  8]

[ 9 51]

In [70]:
hand = pd.Series()
for card in player: 
    print(card)
    print(type(card))
    hand +=(cards_names.loc[card])
hand

32
<class 'numpy.int32'>
8
<class 'numpy.int32'>

Series([], dtype: object)