In [13]:
#set matplotlib graphics shows in notebook
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() #using seaborn styles
#standard libraries for variation type of data
import pandas as pd
import numpy as np
#library for working with images
from PIL import Image, ImageDraw

In [2]:
#names for deck cards
color = ['red','black']
suit = pd.Series(['hearts','diamonds','spades','clubs'])
pack = ['Ace','2','3','4','5','6','7','8','9','10','Jack','Queen','King','Joker']

In [3]:
#check result
deck

       hearts  diamonds  spades  clubs
Ace         0         1       2      3
2           4         5       6      7
3           8         9      10     11
4          12        13      14     15
5          16        17      18     19
6          20        21      22     23
7          24        25      26     27
8          28        29      30     31
9          32        33      34     35
10         36        37      38     39
Jack       40        41      42     43
Queen      44        45      46     47
King       48        49      50     51
Joker      52        53      54     55

In [10]:
#remove 2 extra jokers by making them same as 2 others
#it's allow to use any random numbers to code cards if needed
deck['spades']['Joker']=deck['hearts']['Joker']
deck['clubs']['Joker']=deck['diamonds']['Joker']
# if use 
# deck['spades']['Joker'] = np.NaN
# deck['clubs']['Joker'] = np.NaN
#data types will be miexed for diffirent columns
print(deck.dtypes) #but now they will be same
#lets look result
deck

hearts      int32
diamonds    int32
spades      int32
clubs       int32
dtype: object

       hearts  diamonds  spades  clubs
Ace         0         1       2      3
2           4         5       6      7
3           8         9      10     11
4          12        13      14     15
5          16        17      18     19
6          20        21      22     23
7          24        25      26     27
8          28        29      30     31
9          32        33      34     35
10         36        37      38     39
Jack       40        41      42     43
Queen      44        45      46     47
King       48        49      50     51
Joker      52        53      52     53