In [37]:
import numpy as np
import pandas as pd
import xlrd

In [38]:
file_name = 'data44.xlsx'

In [39]:
x = xlrd.open_workbook(file_name)
x.sheet_names()

['lab1', 'lab2', 'lab3', 'lab4']

In [40]:
data = pd.read_excel(file_name, sheet_name='lab1')

In [57]:
def func_mean(data):
#     print("func_std is woring")
    res = []
    for lvl  in data["lvl"].unique():
        j = data.loc[data.lvl == lvl ]
        res.append(np.mean(j.iloc[:,1:4].values))
    return res

In [58]:
def func_std(data):
#     print("func_avg is woring")
    res = []
    for lvl  in data["lvl"].unique():
        j = data.loc[data["lvl"] == lvl ]
        #ddof=1 make np.std works like excel STDEV
        res.append(np.std(j.iloc[:,1:4].values,ddof=1)) 
    return res

In [59]:
def func_kohr(data):
#     print("func_koh is woring")
    return np.array(func_std(data)) * np.array(func_std(data))

In [44]:
data["std"]= func_std()
data["mean"]= func_mean()
data["kohr"]= func_kohr()

data = data.set_index("lvl")
data

       test1    test2    test3       std        mean       kohr
lvl
1      3.076    3.009    3.165  0.078258    3.083333   0.006124
2     13.080   12.636   12.900  0.223320   12.872000   0.049872
3     48.912   47.808   48.192  0.560457   48.304000   0.314112
4    197.784  184.451  196.109  7.262730  192.781333  52.747246

In [45]:
res_file = 'res_data.xlsx'
with pd.ExcelWriter(res_file) as writer:
    data.to_excel(excel_writer=writer,sheet_name="lab1")

In [60]:
def calculations(source_file="data44.xlsx", destenation_file="result.xlsx"):
    file = xlrd.open_workbook(source_file)
    for name in file.sheet_names():
        print("working with seet> ", name)
        data = pd.read_excel(source_file, sheet_name=name)
        data["std"]= func_std(data)
        data["mean"]= func_mean(data)
        data["kohr"]= func_kohr(data)
        data = data.set_index("lvl")
        with pd.ExcelWriter(destenation_file) as writer:
            data.to_excel(excel_writer=writer,sheet_name=name)

In [61]:
calculations()

working with seet>  lab1
working with seet>  lab2
working with seet>  lab3
working with seet>  lab4